/* GOOGLE FONT STYLE : Montserrat */
:root {
  --green: #d8ece0;
  --blu: #c8dbe3;
  --register: #f4feff;
  --light: #c6dae7;
  --dark-k: #0e3447;
  --defaults: linear-gradient(to right, var(--blu), var(--dark-k));
  --primary-btn: #1289a7;
  --secondary: #0d0d0d;
  --gray: #40739e;
  --gray-light: #eee;
  --gray-hint: #555;
  --accent: #2c3e50;
  --text: #333;
  --divider: #ecf0f1;
  --hint: #95a5a6;
  --error: #ee5a24;
  --font-body: "Mulish", sans-serif;
  --font-header: "Cormorant Garamond", serif;
  --box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

/* NAVBAR CSS START */

.navbar{
    background: var(--dark-k);
    overflow:auto;
    min-height: auto;
    font-weight: bold;
    color: white;

}

.navbar img {
  width: 3rem;
  height: 3rem;
}

.navbar-brand, .nav-link, .nav-item {
color: #fafafa !important;
}

.navbar li a:hover, .navbar li.active
{
  color: white;
  border-radius: 5px;
}

.navbar-toggler-icon
{
  background-color: var(--dark);
  border-radius: 5px;
  border: 2px solid #081a1f;
  outline: 0;
  border: 0;

}

.navbar-expand-lg .navbar-toggler, .navbar-toggler
{
  border-style: none;
}

/* NAVBAR CSS END */


/* TASKS CSS  START*/

body{
  background: var(--defaults);
}


h1, h2, h3, h4, h5, p, span, strike{
  font-family: 'Montserrat', sans-serif;

}


#task-container{
  max-width:600px;
  margin:0 auto;
  box-shadow: var(--box-content);
  background-color: #fff;
  
  margin-top:100px;
  margin-bottom:100px;

  justify-content: space-around;
  align-items: flex-start;

}

#form-wrapper{
  /* star fixe scroll form */
  position: -webkit-sticky;
  position: sticky;
  top: 0rem;
  /* endscroll */
  border-bottom: 1px solid  #e9e9e9;
  background-color: #fafafa;
  box-shadow: 0 3px 8px rgba(0,0,0,0.25);
  padding:40px;
}

#submit{
  background: var(--primary-btn);
  border-radius: 0;
  border:0;
  color: #fff;
}


.flex-wrapper{
  display: flex;
}

.task-wrapper{
    margin:5px;
    padding: 5px;
    padding:20px;
    cursor: pointer;
    border-bottom: 1px solid  #e9e9e9;
    color: #686868;
  }

/* TASKS CSS  START*/